<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Receitas no Banco de Dados</title>
<link rel="stylesheet" href="/static/css/debug.css">
</head>
<body>
<h1 class="titulo">Receitas no Banco de Dados</h1>
{% if receitas %}
<section class="receitas-lista">
    {% for receita in receitas %}
    <div class="mini-card">
    <div class="linha">
        <div><strong>ID:</strong> {{ receita.id }}</div>
        <div><strong>Nome do Prato:</strong> {{ receita.nome }}</div>
    </div>
    <div class="linha">
        <div><strong>Tipo:</strong> {{ receita.tipo }}</div>
        <div><strong>Origem:</strong> {{ receita.origem }}</div>
    </div>
    <div class="linha">
        <div><strong>Ingredientes:</strong> {{ receita.ingredientes }}</div>
        <div><strong>Modo de Preparo:</strong> {{ receita.modo_preparo }}</div>
    </div>
</div>
{% endfor %}
</section>
{% else %}
<p class="nenhuma-receita">Nenhuma receita cadastrada.</p>
{% endif %}
</body>
</html>
